$primary-text-color: #757575;
$accent-color: #2196f3;
$tittle-color: #212121;
$second-tittle-color: #ffffff;
$second-tittle-background: rgba(47, 48, 58, 0.8);
$team-background: #f5f4fa;
$portfolio-p-color: rgba(33, 150, 243, 0.9);
$footer-background: #2f303a;
$footer-address-color: rgba(255, 255, 255, 0.6);
$copyright-color: rgba(255, 255, 255, 0.4);
$social-logo-color: #afb1b8;
$social-footer-logo-color: rgba(255, 255, 255, 0.1);
$header-topline-color: #ececec;
$projects-borfer-color: #eeeeee;
$backdrop-color: rgba(33, 33, 33, 0.2);
$subscribe-border-color: rgba(255, 255, 255, 0.3);